<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./saved">Saved Articles</a>
      </li>
    </ul>
  </div>
</nav>

<!-- JUMBOTRON -->
<div class="jumbotron">
  <h1 class="display-3">Los Angeles Times Scraper</h1>
  <p class="lead">Our homework assignment is to scrape a website and since I'm an LA Baby, I chose the Los Angeles
    Times.</p>
  <hr class="my-4">
  <p>You can choose to click the link in the navbar or this button below. Whatever you feel like doing. Just do it.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg scrape-new"role="button">Scrape</a>
  </p>
</div>

<!-- ARTICLE CONTAINER -->
<div class="container-fluid article-container">
</div>

<!-- JAVASCRIPT -->

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/javascript/index.js"></script>