<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./saved">Saved Articles</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0 scrape-new" type="submit">Search</button>
    </form>
  </div>
</nav>


<!-- JUMBOTRON -->
<div class="jumbotron">
  <h1 class="display-3">Saved Articles</h1>
  <p class="lead">Here is where all the saved articles will be. So if there's something you saved on the home page, it
    will appear here.</p>
  <hr class="my-4">
  <p>There's really nothing else to say. The above lines explain the functionaliy of this page pretty well. Go eat
    cake.</p>
</div>


<!-- ARTICLE CONTAINER -->
<div class="container-fluid article-container">
</div>

<!-- JAVASCRIPT -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/javascript/index.js"></script>